/////////////////COLORS//////////////////
$primary: #ffa800;
$secondary: #294667;
$white: #fff;
$black: #000;

:export {
  primaryColor: $primary;
  secondaryColor: $secondary;
  whiteColor: $white;
  blackColor: black
}
