@import '_scss-variables';
@import '~bootstrap/scss/bootstrap';

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Slab", sans-serif;
}

h1 {
	font-size: 3em !important;
}

.black-background {
	background-color: $black;
}

ul {
	list-style-type: none;
}

.scrolly {
  height: 80% ;
  overflow-y: scroll;
}

.cardgame {
	height: 5em;
	width: 6em;
	margin-left: 1em;
	margin-top: 1em;
}

.redtext {
	color: red;
}
