@import '_scss-variables';

.layoutPage{
  height: 100vh;
  overflow-y: hidden;
}

#dashboardContainer {
  width: 100%;
  max-width: 100%;
  height: 90vh;
  box-sizing: border-box;
  padding-top: 1%;
  padding-left: 2%;
}

#tabsAdmin {
  height: 100%;
}

#teamListContainer {
  height: 40vh;
}

#teamInfoContainer {
  max-height: 27vh;
}

#calendarContainer {
  height: 95vh;
}

.nav-item {
  color: $primary !important;
  border-color: $primary !important;
  margin-right: 5px;
}

.nav-tabs {
  margin-bottom: 5px;
  border-bottom: none;
}


.club-informations-container {

  .fieldTitleClubInfo{
    font-size: large;
    font-weight: bold;
    color: $primary;
  }

  .club-description {
    max-height: 40vh;
    overflow-y: auto;
  }
}
